<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-3">
    <div>

      <h3 class="float-md-start mb-0">
        The Thesis Quest
        <span *ngIf="auth.user$ | async as user">of {{user.displayName}}</span>
      </h3>

      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="'home'" >Home</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="'profile'">Profile</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <router-outlet></router-outlet>
  </main>
    
</div>


  